.navbar{
    background-color: #1CB99D;
}
.arribita{
    display: block;
    margin: 0%;
    height: 100px;
}
.logo{
    margin-top: 8%;
    width: 70px;
    display: flex;
    height: 70px;
    

}
.ladod{
    display: flex;
    margin-right: 50px;
}
.arribita{
    display: flex;
    justify-content: space-between;
}
.text{
    color: azure;
    margin-top: 20%;
    margin-left: 7%;
    font-size: 25px;
}
.btn-group{
    display: flex;
        margin-left: 1020px;
    
}
.cuadro{
    margin-top: 5%;
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex
;
    margin-left: 15%;
    border-radius: 4%;
    justify-content: center;
    box-shadow: 4px 4px 6px rgb(16 168 136);
}
.Botones{
    display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
       
}
.prb{
    margin-top: 4%;
    height: 100px;
    width: 300px;
    justify-content: center;
    font-size: 30px;
    border-radius: 95px;
    color: #009e7b;
    margin-left: 30%;
    box-shadow: 1px 4px 6px rgb(16 168 136);
    border: none;
    background-color: white;
}
.btnn{
    margin-top: 4%;
    height: 100px;
    width: 300px;
    justify-content: center;
    font-size: 30px;
    border-radius: 95px;
    color: #009e7b;
    margin-left: 30%;
    box-shadow: 1px 4px 6px rgb(16 168 136);
    border: none;
    background-color: white;
}

.circular-progress {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: conic-gradient(#1CB99D 0%, #ddd 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: background 0.3s ease;
    margin-top: 15px;
  }

  .circular-progress span {
    position: absolute;
    
  }