body{
    background-color: #b8f1cf;
}

.card{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 75px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: center; 
    display: flex;
    font-family: "Manjari", sans-serif;   
}

.container{
    color: white;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 90px;   
}

.izquierda{
    margin-right: 50px;
}

.navbar{
    display: block;
    background-color: #1CB99D;
}

.loguito{
    width: 60px;
}

.arribita{
    display: flex;
    justify-content: space-between;
}

.ladito{
    display: flex;
    margin-left: 50px;
}
/* .row>* {
height: 300px;
height: 600px;
} */
.textini{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-phone{
    width: 90%;
    margin-left: 11%;
    margin-bottom: 15%;
    margin-top: 12%;
}
.texto{
    
   
    margin-right: 10%;
    font-size: 30px;
    font-family: "Manjari", sans-serif;;
    text-align: center;
    color: black;


}
input{
    border: white;
    box-shadow: 1px 2px 6px white;
    height: 30px;
}

.modulos{
    padding-top: 150px;
    padding-bottom: 100px;
}
.sectionlist{
    margin-top: -48px;
}


.containerlibro{
    background-color: #1CB99D;
    padding-top: 1px;
    padding-bottom: 20%;
}

.libro{
    width: 325px;
    height: 400px;
    box-shadow: 7px 7px 8px rgb(48, 48, 48);
}
.imglibro{
    width: 320px;
}
.chiquita{
    width: 40px;
}
.todito{
    display: flex;
    align-items: center;
    padding-left: 135px;
    padding-top: 97px;
}
.textos{
    margin-left: 100px;
    text-align: center;
}
.imagen{
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
}

.salir{
    overflow: clip;
        position: fixed;
        bottom: 50px;
        padding-top: 70px;
        color: black;
        right: 10px;
        cursor: pointer;
}



.sectfoot{
    margin-top: -16%;
}

.Logo{
    margin-top: 25%;
}
 
 .iconos{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 42%;
     padding-left: 7%;
     flex-direction: column;
 }
 .icons{
    margin-left: -15%;
 }
 .Iconss{
     display: flex;
     flex-direction: column;
     display: flex;
     justify-content: start;
     align-items: start;
     margin-top: 105px;
     padding-left: 7%;
     font-size: 25px;
     font-family: "Manjari", sans-serif;
     text-align: center;
     
    
     
     
 }
 .prefinal{
     display: flex;
     text-align: end;
     flex-direction: column;
    
     
 
 }
 .texto{
     display: flex;
     justify-content: end;
     align-items: end;
     flex-direction: column;
     font-family: "Manjari", sans-serif;
     margin-top: -7%;
 }
 .fotter{
     display: flex;
     background-color: #1CB99D;
     height: 240px;
 }
 .texto1{
     font-size: 25px;
 }
 .texto2{
     font-size: 25px;
 }
 .texto3{
     font-size: 25px;
 }
