body{
    background: radial-gradient(rgb(50, 50, 50), rgb(30,30,30), black);
}

.bg-gray{background-color: rgb(177 176 176 / 20%);}
.cuadrito {
    max-width: 331px;
    border-radius: 110px;
    box-shadow: 9px 7px 5px #0c0c0c;
}
.fotito{
    max-width: 100px;
}
.form-control{
    width: 90%;
    margin-left: 5%;
}
.img{
    margin-top: -10%;
    margin-left: -2%;
}

a{
    text-decoration: none;
    color: black;
}
.volver{
    color: black;
    text-decoration: none;
   
}
.atras{
    margin-top: 0.5%;
}

.col{
    margin-top: -3%;
}
.Iniciar{
    font-family: "Manjari", sans-serif;
}
.Regis{
    font-family: "Manjari", sans-serif;
}
.text{
    font-family: "Manjari", sans-serif;
}
.btn{
    font-family: "Manjari", sans-serif;
    justify-content: center;
}